{% extends "base.html" %}

{% block content %}
{% if form.errors %}
<p class="alert alert-danger">帳號或密碼不符合，請再試一次。</p>
<!-我真想知道如何在此事件發生時呼叫指定JavaScript.......我上網找資料好像都找不到......->
{% endif %}

<div class="card">
  <h2 class="font-weight-bold card-header">登入</h2>
  <form action="" method="post">
    {% csrf_token %}
    <div class="card-body">
      <div class="mb-4">
        <td>帳號：</td>
        <td>{{ form.username }}</td>
      </div>
      <div class="mt-4">
        <td>密碼：</td>
        <td>{{ form.password }}</td>
      </div>
    </div>
    <div class="card-footer">
      <input type="submit"  value="登入" class="btn btn-sm btn-secondary" />
    </div>
  </form>
</div>
{% endblock %}